<%= form_for(seguimiento) do |f| %>
  <% if seguimiento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(seguimiento.errors.count, "error") %> prohibited this seguimiento from being saved:</h2>

      <ul>
      <% seguimiento.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.number_field :user_id %>
  </div>

  <div class="field">
    <%= f.label :actividad_id %>
    <%= f.number_field :actividad_id %>
  </div>

  <div class="field">
    <%= f.label :descripcion %>
    <%= f.number_field :descripcion %>
  </div>

  <div class="field">
    <%= f.label :porcentaje %>
    <%= f.number_field :porcentaje %>
  </div>

  <div class="field">
    <%= f.label :cierre %>
    <%= f.text_field :cierre %>
  </div>

  <div class="field">
    <%= f.label :anexo %>
    <%= f.text_field :anexo %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
