<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @seguimiento.user_id %>
</p>

<p>
  <strong>Actividad:</strong>
  <%= @seguimiento.actividad_id %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @seguimiento.descripcion %>
</p>

<p>
  <strong>Porcentaje:</strong>
  <%= @seguimiento.porcentaje %>
</p>

<p>
  <strong>Cierre:</strong>
  <%= @seguimiento.cierre %>
</p>

<p>
  <strong>Anexo:</strong>
  <%= @seguimiento.anexo %>
</p>

<%= link_to 'Edit', edit_seguimiento_path(@seguimiento) %> |
<%= link_to 'Back', seguimientos_path %>
