<%= form_for(document) do |f| %>
  <% if document.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(document.errors.count, "error") %> prohibited this document from being saved:</h2>

      <ul>
      <% document.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
<div class="col-md-8 form-group">
  <div class="col-md-6 form-group">
    <%= f.label :obra %>
    <%= f.select :obra,
                  Codigo.all.map { |u| ["#{u.consecutivo}", u.consecutivo] },
                             { include_blank: true },
                             { class: 'chosen-select form-control ch'  }
                  %>

  </div>
   <div class="col-md-6 form-group">
    <%= f.label "Tipo de Documento" %>
    <div class="field">
    <%= render "field" , f: f  %>  


    </div>

  



    
  </div> 


  <div class="col-md-6 form-group">
    <%= f.label "Fecha del Documento" %>
    <%= f.date_field :document_date, :value => ( action_name == 'new' ? Time.now.strftime("%Y-%m-%d"): @document.document_date.strftime("%Y-%m-%d")), class: "form-control" %>
  </div>
  <div class="col-md-6 form-group">
    <%= f.label :anexo %>
    <%= f.file_field :anexo %>
  </div>
<div class="row">
 </div> 
   <div class="col-md-6 form-group">
    <%= f.label "Descripcion" %>
    <%= f.text_area :description, class: "form-control" %>
  </div>
 </div> 
 </div>


    <%= f.hidden_field :user_id, value: current_user.id %>
  

  







  <div class="actions">
    <%= f.submit "Guardar", class: "btn btn-primary" %>
  </div>
<% end %>
   <%= render "form_doc"%>
<script>
$(document).on('turbolinks:load',function() {

    $('.chosen-mselect').chosen(
        {

          allow_single_deselect: true,
          no_results_text: 'No hay resultados',
          width: '250px;',
          placeholder_text_single: "Seleccione una opción",
          placeholder_text_multiple: "Seleccione una varias opciones"

        });
      $('.chosen-select').chosen(
        {

          allow_single_deselect: true,
          no_results_text: 'No hay resultados',
          width: '250px;',
          placeholder_text_single: "Seleccione una opción",
          placeholder_text_multiple: "Seleccione una varias opciones"

        });


 

     

         $('.chosen-container ').click(function(){

          //$.get("/create_document", function(data) {
          //}


         })

       




             });

  

function myFunction() {
    $(".myForm").submit();

    var n = $('#nombre').val();
    var c = $('#codigo').val();
    var f = $('#frecuencia').val();
      
     $.ajax({
     url :"/create_document",
     type: "POST",
     data: {
        "nombre": n,
        "codigo": c,
        "frecuencia":f
     },
     success: function(response){
      

     },
     error:function(response){
         
     }
 });  

    //$.post("/create_document?a=10000000000", function(data) {
          //}


      //   })
   

}
</script>


