<p id="notice"><%= notice %></p>
<div class="row">
<div class="col-md-4">
  <h1>Documents </h1>
</div>
  <div class="col-md-8 text-right">
   <%= will_paginate @documents%>
</div>
  
</div>


<%= form_tag(@route, :method => "get", id: "search-form") do %>
         <!--<%= text_field_tag :search, params[:search], placeholder: "Ingresa texto", class: "form-control search" %>-->

         <%=select_tag 'search', options_for_select(@arr),{:class => "form-control sh", include_blank: true }%>
          <%=select_tag 'search1', options_for_select(DocumentType.all.collect{ |u| ["#{u.nombre}", u.id, ] }),{:class => "form-control sh11", include_blank: true }%>
        <%if current_user.rol == "Admin total"%>
          <%=select_tag 'search2', options_for_select(User.all.collect{ |u| ["#{u.nombres} #{u.apellidos}", u.id, ] }),{:class => "form-control sh22", include_blank: true }%><%end%>
         <%= submit_tag "Buscar", :class => "btn btn-primary" %>
         <% end %>


<table class= "table">
  <thead>
    <tr>
     <th><i class="fa fa-calendar" aria-hidden="true"></i>
 Creacion</th>
      <th>Obra</th>
      <th>Creo</th>
      <th><i class="fa fa-calendar" aria-hidden="true"></i>
 Documento</th>
      <th>Anexo</th>
      <th>Tipo</th>

      <th>Descripcion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @documents.each do |document| %>
      <tr>
       <td><%= get_date(document.created_at) %></td>
        <td><%= document.obra %></td>
        <td><%= document.user.nombres %> <%= document.user.apellidos %></td>
        <td><%= get_date(document.document_date) %></td>
        <td><%= (link_to "Anexo.#{document.anexo.file.extension }", document.anexo_url , style:"color:#357ebd") if document.anexo_url %></td>
        <td><%= document.document_type.nombre %></td>
 
        <td><%= document.description %></td>
        <td><%= link_to  document, :class => "opciones" do %>
               <i class="fa fa-eye" aria-hidden="true"></i>
               <% end %>
               <%= link_to  edit_document_path(document), :class => "opciones" do %>
               <i class="fa fa-pencil" aria-hidden="true"></i>
               <% end %>
               <%= link_to  document,  method: :delete, data: { confirm: 'Are you sure?' }, :class => "opciones" do %>
               <i class="fa fa-trash" aria-hidden="true"></i>
               <% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Documento', new_document_path, class: "btn btn-primary" %>

<script>

     $('.sh11').val(<%=params[:search1]%>) ;
     $('.sh22').val(<%=params[:search2]%>) ;
     $('.sh').val(<%=params[:search]%>) ;



</script>
<style>
.opciones
    {
    color:#7a7a7a;
    margin-right:10px;
    font-size:16px;
    }
     .opciones:focus
    {
    color:#7a7a7a;
    
    }
     .opciones:hover
    {
   text-decoration:none;
   color:#7a7a7a !important;
    }
  
</style>