<h3>Hola <%=@user.nombres%></h3>
 <p><%=@seguimiento.user.nombres%> hizo un seguimiento a la actividad </p>
  <p><strong>Codigo:</strong> <%=@seguimiento.actividad.codigo%></p>  
  <p><%= @seguimiento.actividad.nombre%></p>
<hr>

<p><strong>Descripcion del seguimiento: </strong><%==@seguimiento.descripcion%></p>
<hr>
<a href="https://servidualactividades.herokuapp.com">https://servidualactividades.herokuapp.com</a>